body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #003f5c;
  color: white;
  font-size: 16px;
}

header {
  text-align: center;
  h1 {
    margin: 1rem auto;
  }
}

section {
  padding: 0.5rem;
  background-color: #dfddc7;
  color: #444;
  border-radius: 0.25rem;
  margin: 1rem;
  .section-header {
    font-size: 1.15rem;
    font-weight: bold;
    margin: 1rem 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.25rem 0 0.75rem 0;
    border: none;
  }
  input[type=submit] {
    background-color: #94aa2a;
    border: none;
    color: white;
    padding: 0.5rem;
  }
  input[type=submit]:hover {
    filter: brightness(1.05);
  }
}

main {
  max-width: 620px;
  margin: 1rem auto;
}
.hide {
  display: none;
}

#projects-list {
  margin: 1rem 0;
  padding: 0;
  margin: 0 -0.25rem;
  li {
    display: inline-block;
    margin: 0.25rem;
    width: auto;
    list-style: none;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    text-transform: capitalize;
    background-color: #ff6768;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
  }
  li:hover {
    filter: brightness(1.25);
  }
}

summary {
  padding: 0.5rem 0;
}

.high {
  background-color: #c70039;
}
.medium {
  background-color: #ff6c00;
}
.low {
  background-color: #00818a;
}

#project-container {
  & > div {
    h2 {
      text-transform: capitalize;
      &:before {
        content: "Project:";
        margin-right: 0.25rem;
      }
    }
  }
  .todo-container {
    margin: 0.5rem;
    summary {
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border-radius: 4px;
      color: white;
      &:hover {
        filter: brightness(1.25);
      }
      & > input[type=checkbox] {
        margin-right: .5rem;
      }
      & > h3 {
        font-weight: normal;
        cursor: pointer;
        margin: 0;
        display: inline-block;
      }
    }
    .details {
      position: relative;
      background-color: white;
      padding: 0.5rem;
      display: grid;
      grid-template-rows: 1fr 32px;
      grid-template-columns: 1fr 32px 32px;
      grid-template-areas:
          "description description description"
          "date edit delete";
      align-items: end;
      grid-gap: 1rem;
      p {
        grid-area: description;
      }
      time {
        grid-area: date;
        font-size: 0.85rem;
        color: gray;
        &:before {
          content: '\1F4C5';
          margin-right: .25rem;
        }
      }
      .priority {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        color: white;
        text-transform: uppercase;
        font-size: 0.75rem;
        padding: 0.25rem 0.25rem 0.15rem 0.25rem;
        border-radius: 2px;
      }
      button {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        border: none;
        font-size: 1.15rem;
        padding: 0.15rem;
        cursor: pointer;
        &.edit-btn {
          background-color: green;
          color: white;
          grid-area: edit;
          &:before {
            content: '\270E';
          }
        }
        &.delete-btn {
          color: white;
          background-color: red;
          grid-area: delete;
          &:before {
            content: '⌫';
          }
        }
      }
    }
  }
}